<div w-screen>

    <h1 class="font-bold text-2xl mt-2 mb-15">Team Members</h1>

    <div class="">
        <h1 class="font-bold text-xl">Owner</h1>

        <div class="mt-3 mb-6 gap-4">

            <img src="utilisateur.png" class="w-[11%]" />
        <p class="">{{ ownerMember.username }}</p>
        <p class="text-gray-600 text-sm">{{ ownerMember.email }}</p>
    </div>
    </div>

    <div class="mt-6">
        <h1 class="font-bold text-xl">Collaborators</h1>
    
        <div  class="grid grid-cols-1 md:grid-cols-4 gap-2 mt-3"> 

    <div *ngFor="let entry of collaboratorsMember ">

        <div class="flex flex-col items-center text-center">
            <img src="utilisateur.png" class="w-[45%] "/>
            <p class=" flex justify-center items-center text-center"> {{ entry.username }}<p>
            <p class="text-gray-600 text-sm"> {{ entry.email }}</p>
        </div>
    
    </div>
</div>

</div>
</div>