<div class=" mx-auto ">
  <form class="bg-white shadow-xl rounded-2xl p-6 border border-gray-100 space-y-4"  [formGroup]="taskForm" (ngSubmit)="onSubmit()" >
    <h2 class="text-xl font-semibold text-gray-800 mb-2" >{{ mode === 'edit' ? 'Mettre à jour la tâche' : 'Créer une tâche' }}</h2>


    <div>
      <label for="title" class="block text-sm font-medium text-gray-700">Titre</label>
      <input type="text" id="title" name="title"
             class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" 
             placeholder="Titre de la tâche" formControlName="title" required  />
    </div>


    <div>
      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <textarea id="description" name="description" rows="3"
                class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
                placeholder="Détail de la tâche..." formControlName="description" required ></textarea>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="startDate" class="block text-sm font-medium text-gray-700">Date de début</label>
        <input type="date" id="startDate" name="startDate" formControlName="startDate" required 
               class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" />
      </div>
      <div>
        <label for="endDate" class="block text-sm font-medium text-gray-700">Date de fin</label>
        <input type="date" id="endDate" name="endDate" formControlName="endDate" required 
               class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" />
      </div>
    </div>


    <div>
      <label for="status" class="block text-sm font-medium text-gray-700">Statut</label>
      <select id="status" name="status" formControlName="status" required 
              class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
              <option selected>Choisis un statut</option>
       <option *ngFor="let s of statusOptions" [value]="s">
    {{  statusLabelsMap[s] }}
  </option>
      </select>
    </div>

      <div>
      <label for="collaborators" class="block text-sm font-medium text-gray-700">Collaborateurs :</label>
      <select id="collaborators" name="collaborators" formControlName="collaborators" multiple
              class="mt-1 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500">
              <option selected>Choisis des collaborateurs</option>
       <option *ngFor="let collaborator of userList" [ngValue]="collaborator">
    {{  collaborator.email }}
  </option>
      </select>
    </div>

    
  
    <div class="pt-4 flex justify-end space-x-3">
      <button type="button" (click)="onCancel()"
              class="bg-gray-100 text-gray-800 px-4 py-2 rounded-lg text-sm hover:bg-gray-200">
        Annuler
      </button>
      <button type="submit"
              class="bg-blue-600 text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-700">
       {{ mode === 'edit' ? 'Mettre à jour' : 'Créer' }}
      </button>
    </div>
  </form>
</div> 