<div class="hidden bg-yellow-400 bg-red-400 bg-blue-400 bg-green-400"></div>

<h1 class="font-bold text-2xl gap-2 mt-2 mb-4">Task List</h1>

<div class="w-full overflow-x-auto">

    <table class="min-w-[90%] divide-y divide-gray-200 mt-4">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Task Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Assigned</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Due Date</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200" >
            <tr *ngFor="let task of taskByProject">
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{task.title}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" > <div *ngFor="let c of task.collaborators">
                    {{c.username}}
                </div></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{task.endDate}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-black text-center" >
                    <div class="rounded-2xl" [ngClass]="'bg-' + statusColors[task.status] + '-400'">{{statusLabels[task.status]}}</div></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button class="bg-gray-100 text-gray-800 px-4 py-2 rounded-lg text-sm hover:bg-gray-200" (click)="updateTaskFromProjectaskList(task.id)">
                        Modifier       </button>
                </td>
            </tr>
        </tbody>
        </table>

</div>