<div class="w-full bg-gray-100 min-h-screen" style="background-color: #f3f6fd;">

<ng-container *ngIf="projectList.length === 0; else newPageBlock">

    <div class="flex items-center justify-center h-screen bg-gray-50">

        <div class="max-w-md text-center p-6 bg white rounded 2xl shadow-lg">

            
<h1 class="text-2xl font-semibold text-gray-800 mb-2">No projects yet</h1>


<p class="text-gray-600 text-sm mb-6">Get started by creating a new project. Organize tasks, collaborate with your team and track progress all in one place
</p>

<button type="submit" class=" bg-[#002B2F] text-white text-sm py-2 rounded-md hover:bg-[#014349] transition p-4"
   (click)="redirectAddProject()" >
    Add Project
</button>
</div>

    </div>
    
</ng-container>


<ng-template #newPageBlock>

    <div class="grid grid-cols-[30%_70%] gap-8 max-w-7xl mx-auto px-4 py-8">

        <div class="flex flex-col w-full">
            <div class="flex items-center justify-between mb-6 ">
            <h1 class="text-3xl font-bold ">Projets</h1>

        <button type="submit" class=" bg-[#002B2F] text-white text-sm py-2 rounded-md hover:bg-[#014349] transition p-4"
            (click)="redirectAddProject()">
            Add Project
        </button>

        </div>

            <form [formGroup]="searchForm" (ngSubmit)="getProjectByName()">
            <div class="flex items-center px-4 py-3 rounded-md bg-custom-gray overflow-hidden w-full mb-4">
                
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="fill-gray-600 mr-3 rotate-90" (click)="toggleSearch()">
            <path
                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
            </path>
        </svg>
        <input type="search" placeholder="Search projects" 
            class="w-full outline-none bg-transparent text-gray-600 text-sm" formControlName="name" />

      
            </div>
    </form>
 
            <div class="flex flex-wrap gap-4 mb-6">
                <button class="bg-custom-gray text-gray-800 px-4 py-2 rounded-2xl text-md hover:bg-gray-300" (click)="showAllProjects()">All projects
                </button>
                <button
                    class="bg-custom-gray text-gray-800 px-4 py-2 rounded-2xl text-md hover:bg-gray-300">Archived</button>
            </div>

            <div class="flex flex-col gap-4 overflow-y-auto max-h-[calc(100vh-200px)]">
<ng-container *ngIf="searchProjectList.length > 0; else projectListBlock" class="mt-4 space-y-2 ">
    <div *ngFor="let project of searchProjectList" class="flex items-center w-full">
        <div
            class="bg-white rounded-xl shadow-sm p-4 hover:shadow-md transition-shadow w-16 h-16 flex justify-center items-center mr-3">
            <img src="icons8-dossier-50.png" alt="icone" class="w-8 h-8">
        </div>
        <a [routerLink]="['/projects', project.id, 'details']" class="flex flex-col">
            <h2 class="text-md font-medium text-gray-900">{{project.name}}</h2>
            <p class="text-sm text-gray-500">{{project.creationDate}}</p>
        </a>
    </div>
</ng-container>

<ng-template #projectListBlock>
        <div *ngFor="let project of projectList" class="flex items-center w-full">
            <div
                class="bg-white rounded-xl shadow-sm p-4 hover:shadow-md transition-shadow w-16 h-16 flex justify-center items-center mr-3">
                <img src="icons8-dossier-50.png" alt="icone" class="w-8 h-8">
            </div>
            <a [routerLink]="['/projects', project.id, 'details']" class="flex flex-col">
                <h2 class="text-md font-medium text-gray-900">{{project.name}}</h2>
                <p class="text-sm text-gray-500">{{project.creationDate}}</p>
            </a>
        </div>

</ng-template>

            </div>
            

           
        </div>


        <div class="flex flex-col w-full">
            <h1 class="font-bold text-4xl mt-0 mb-6">{{selectedProject?.name}}</h1>

 
            <div class="flex gap-8 border-b border-gray-300 mb-6">
                <a [routerLink]="['details']" routerLinkActive="border-b-4 border-gray-800 font-semibold text-gray-800"
                    class="pb-2 text-xl">Overview</a>
                <a [routerLink]="['task']" routerLinkActive="border-b-4 border-gray-800 font-semibold text-gray-800"
                    class="pb-2 text-xl">Task</a>
                <a [routerLink]="['members']" routerLinkActive="border-b-4 border-gray-800 font-semibold text-gray-800"
                    class="pb-2 text-xl">Members</a>
            </div>

            <router-outlet></router-outlet>
        </div>

    </div>
    </ng-template>
</div>